<html>
<head>
    <title>NoteBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="icon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="scripts/storage.js"></script>

    <link href="styles/material.icon.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">

</head>

<body ng-app="myapp" ng-controller='myctrl'>
    <div class="main-container">
        <div class="app-container">

            <!-- current list selected -->
            <div id="selected-list-info" style="background-color: var(--bg-color);">
                <!-- name and back button -->
                <div style="display: flex;flex-direction: row;align-items: center;">
                    <i id="back-button" class="material-icons" ng-click="handleBackButton();" ng-hide="defaultPageTitle==pageTitle" ng-show="search.length>0">arrow_back</i>
                    <div class="list-with-title" id="selectedList" style="display: block;" ng-bind="pageTitle"></div>
                </div>

                <!-- search button -->
                <div>
                    <span id="list-age" class="list-sub-text"></span>
                    <span class="list-sub-text" id="list-progress-1"></span>
                    <span class="list-sub-text" id="list-progress-2"></span>
                </div>

                <input id="search-box"  ng-model="search" ng-attr-placeholder="Search..." value=""/>
                <!-- <textarea id="back"></textarea> -->

            </div>
            <!--contains tasks-->
            <div id="tasks-container">

                <!-- search results -->
                <Div id="search-results" style="display: block;" ng-show="search.length>0">
                    <div style="text-align: center;font-size: 165%;">Search Results</div>
                    <div ng-repeat="(key,value) in listArray ">
                        <div ng-repeat="(k,v) in value.taskArray | filter: search | limitTo: 2">
                            <div id="" class="task" ng-click="">
                                <i class="material-icons" ng-bind="v.taskIcon"></i>
                                <span ng-bind-html="v.title | sanitize"></span>

                            </div>
                        </div>
                    </div>
                </Div>

                <!-- lists -->
                <Div id="view-lists" style="display: block;" ng-hide="search.length>0">
                    <div ng-repeat="(key,value) in listArray">

                        <div class="list-panel-item" ng-click="loadList($index)">
                            <div class="list-panel-item-title">
                                <i class="material-icons"></i>
                                <article class="selected" ng-bind="value.title"></article>
                            </div>

                            <span class="list-sub-text" ng-bind="(value.taskArray.length) + ' items'"></span>
                        </div>
                    </div>
                </Div>

                <!-- content of lists -->
                <Div id="view-list-items" style="display: none;" ng-hide="search.length>0">
                    <div ng-repeat="(key,value) in taskArray" >
                        <div class="task" ng-click="handleClickOnTask($event);" data-i="{{key}}">
                            <i class="material-icons" ng-bind="value.taskIcon"></i>
                                <span ng-bind-html="value.title | sanitize"></span>
                        </div>
                    </div>

                    <!-- empty state -->
                    <div style="background-color: white;text-align: center; font-family: sans-serif;" ng-hide="taskArray.length">
                        <h1>Empty NoteBook</h1>
                        <img src="styles/emptystate.png" style="    width: 60%;     max-width: 250px;">
                    <div id="openAddNoteFromEmptyState" class="my-button">Add notes</div>
                    </div>
                </Div>

            </div>

        </div>





        <!-- create list fab button -->
        <i id="open-add-new-list-panel" class="material-icons fab-button" ng-hide="defaultPageTitle!=pageTitle">close</i>
        
        <!-- hide add task button if list is not opened -->
        <i style="bottom: 80px;" id="open-add-new-task-panel" class="material-icons fab-button" ng-hide="defaultPageTitle==pageTitle">book</i>
        
        <!-- hide add task button if list is not opened -->
        <i style="bottom: 15px; z-index: 999;" id="open-more-panel" class="material-icons fab-button" ng-hide="defaultPageTitle==pageTitle">settings</i>
        
    </div>


    <!-- add new task -->
    <div id="add-task-panel-with-selected-list" class="nav-bar-panel" data-dateId="#datetimepicker1">
        <div class="add-task-list-title" ng-attr-placeholder="List name...">{{selectedListName}}</div>
        <div contenteditable="true" id="newTaskContent" class="new-task-content" placeholder="Add notes here..."></div>
        <div class="add-task-options">
            <div class="my-button close-button">Cancel</div>
            <div ng-click="handleSaveTask();" id="add-new-task-ok" class="my-button">Add</div>
        </div>
    </div>


    <!-- create new list -->
    <div id="add-new-task-with-new-list" class="nav-bar-panel">
        <input class="add-new-list-title"  ng-model="newListName" ng-attr-placeholder="New NoteBook name..."/>

        <div class="add-task-options">
            <div class="my-button close-button">Cancel</div>
            <div ng-click="handleCreateList();" id="add-new-task-ok" class="my-button">Add</div>

        </div>
    </div>








    <!-- more options panel -->
    <div id="more-options-panel" class="">

        <div id="remove-completed-tasks-button" class="more-options-item" >
            <span id="total_size">Total Size:</span>
            <i class="material-icons">cloud</i>
        </div>

        <div id="change-theme-button" class="more-options-item" >
            <span>Switch Theme</span>
            <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
              </label>
        </div>

        <div id="remove-all-tasks-button" class="more-options-item" >
            <span>Empty List</span>
            <i class="material-icons">opacity</i>
        </div>

        <div id='delete-list-ok' class="more-options-item skip"  ng-click="handleDeleteList()">
            <span>Yes, delete this list!</span>
            <i class="material-icons" style="background: #df3770;color: white;">check</i>
        </div>
        <div id='delete-list-cancel' class="more-options-item skip" >
            <span>No, keep this list!</span>
            <i class="material-icons" style="background: #8BC34A;color: white;">cancel</i>
        </div>
        <div id='delete-list-button' class="more-options-item" >
            <span>Delete List</span>
            <i class="material-icons" style="background: #df3770;color: white;">delete</i>
        </div>

    </div>

    <!-- blocking screen  -->
    <div id="block-screen" class="hide-block-screen"></div>

    <!-- toast message -->
    <div class="toast" style="z-index: -99; opacity: 0;">
    </div>



    <!-- taskMoreOptiosContainer -->
    <div class="taskMoreOptionsConatiner hide-task-more-options">
        <div id="taskRemove" ng-click="deleteTask();">Delete Note </div>
        <div id="taskRemove" ng-click="moveTask();">Move Note </div>
        <div id="taskRemove" ng-click="mergeTask();">Merge With another Note </div>
        <div id="close-task-more-options" onclick="closeTaskMoreOptions();">Close X</div>
    </div>





    <script type="text/javascript" src="scripts/handleAngular.js"></script>
    <script type="text/javascript" src="scripts/htmlGenerator.js"></script>
    <script type="text/javascript" src="scripts/handleSingleTaskEvents.js"></script>
    <script type="text/javascript" src="scripts/handleOpenCloseEventOfNavBarPanels.js"></script>
    <script type="text/javascript" src="scripts/handleNavBarEvents.js"></script>
    <script type="text/javascript" src="scripts/utilities.js"></script>
    <script type="text/javascript" src="scripts/svgAnimation.js"></script>
    <script type="text/javascript" src="scripts/icon_database.js"></script>




</body>

</html>