<html>
<head>
    <title>TODO things</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="storage.js"></script>

    <link rel="icon" href="icon.png" />
    <link href="material.icon.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
</head>

<body ng-app="myapp" ng-controller='myctrl'>

    <div class="main-container">
        <div class="app-container">

            <!-- current list selected -->
            <div id="selected-list-info">
                <!-- name and back button -->
                <div style="display: flex;flex-direction: row;align-items: center;">
                    <i id="back-button" class="material-icons" ng-click="handleBackButton();">arrow_back</i>
                    <div class="list-with-title" id="selectedList" style="display: block;" ng-bind="pageTitle"></div>
                </div>

                <!-- search button -->
                <div>
                    <span id="list-age" class="list-sub-text"></span>
                    <span class="list-sub-text" id="list-progress-1"></span>
                    <span class="list-sub-text" id="list-progress-2"></span>
                </div>

                <input id="search-box"  ng-model="search" ng-attr-placeholder="Search..."/>

            </div>
            <!--contains tasks-->
            <div id="tasks-container">

                <!-- search results -->
                <Div id="search-results" style="display: block;">
                    <div ng-repeat="(key,value) in listArray ">
                        <div ng-repeat="(k,v) in value.taskArray | filter: search | limitTo: 20" ng-if="search.length>0">
                            <div id="" class="task" ng-click="">
                                <i class="material-icons" ng-bind="v.taskIcon"></i>
                                <span ng-bind-html="(v.title)"></span>

                            </div>
                        </div>
                    </div>
                </Div>

                <!-- lists -->
                <Div id="view-lists" style="display: block;">
                    <div ng-repeat="(key,value) in listArray">

                        <div class="list-panel-item" ng-click="loadList($index)">
                            <div class="list-panel-item-title">
                                <i class="material-icons"></i>
                                <article class="selected" ng-bind="value.title"></article>
                            </div>

                            <span class="list-sub-text" ng-bind="(value.taskArray.length) + ' items'"></span>
                        </div>
                    </div>
                </Div>

                <!-- content of lists -->
                <Div id="view-list-items" style="display: none;">
                    <div ng-repeat="(key,value) in taskArray">
                        <div id="" class="task" ng-click="">
                            <i class="material-icons" ng-bind="value.taskIcon"></i>
                                <span ng-bind-html="value.title"></span>
                        </div>
                    </div>
                    <!-- empty state -->
                    <div style="text-align: center; font-family: sans-serif;" ng-hide="taskArray.length" ng-bind-html="emptyList"></div>
                </Div>

            </div>

        </div>


        <!-- create list fab button -->
        <i id="open-add-new-list-panel" class="material-icons fab-button" ng-hide="defaultPageTitle!=pageTitle">close</i>
        <!-- hide add task button if list is not opened -->
        <i style="bottom: 70px;" id="open-add-new-task-panel" class="material-icons fab-button" ng-hide="defaultPageTitle==pageTitle">book</i>
        <!-- hide add task button if list is not opened -->
        <i style="bottom: 15px; z-index: 999;" id="open-more-panel" class="material-icons fab-button" ng-hide="defaultPageTitle==pageTitle">settings</i>
        
    </div>


    <!-- add new task -->
    <div id="add-task-panel-with-selected-list" class="nav-bar-panel" data-dateId="#datetimepicker1">

        <div class="add-task-list-title" ng-attr-placeholder="List name...">{{selectedListName}}</div>
        <textarea 
        ng-model="newTaskContent" 
        id="new-task-content-1" class="new-task-content" ng-placeholder="Remind me to call..."></textarea>
        <div class="add-task-options">
            <div class="my-button close-button">Cancel</div>
            <div ng-click="handleSaveTask();" id="add-new-task-ok" class="my-button">Add</div>
        </div>
    </div>


    <!-- create new list -->
    <div id="add-new-task-with-new-list" class="nav-bar-panel">
        <input class="add-new-list-title"  ng-model="newListName" ng-attr-placeholder="New NoteBook name..."/>

        <div class="add-task-options">
            <div class="my-button close-button">Cancel</div>
            <div ng-click="handleCreateList();" id="add-new-task-ok" class="my-button">Add</div>

        </div>
    </div>








    <!-- more options panel -->
    <div id="more-options-panel" class="">

        <div id="remove-completed-tasks-button" class="more-options-item" >
            <span id="total_size">Total Size:</span>
            <i class="material-icons">cloud</i>
        </div>

        <div id="remove-completed-tasks-button" class="more-options-item" >
            <span>Remove Completed Tasks</span>
            <i class="material-icons">clear_all</i>
        </div>

        <div id="remove-all-tasks-button" class="more-options-item" >
            <span>Empty List</span>
            <i class="material-icons">opacity</i>
        </div>

        <div id='delete-list-ok' class="more-options-item skip"  ng-click="handleDeleteList()">
            <span>Yes, delete this list!</span>
            <i class="material-icons" style="background: #df3770;color: white;">check</i>
        </div>
        <div id='delete-list-cancel' class="more-options-item skip" >
            <span>No, keep this list!</span>
            <i class="material-icons" style="background: #8BC34A;color: white;">cancel</i>
        </div>
        <div id='delete-list-button' class="more-options-item" >
            <span>Delete List</span>
            <i class="material-icons" style="background: #df3770;color: white;">delete</i>
        </div>

    </div>

    <!-- blocking screen  -->
    <div id="block-screen" class="hide-block-screen"></div>

    <!-- toast message -->
    <div class="toast" style="z-index: -99; opacity: 0;">
    </div>



    <!-- taskMoreOptiosContainer -->
    <div class="taskMoreOptionsConatiner hide-task-more-options">
        <div id="taskChangeStatus" onclick="taskChangeStatus();">Task Complete</div>
        <div id="taskChangePriority" onclick="taskChangePriority();">Set Priority</div>
        <div id="taskRemove" onclick="taskRemove();">Remove Task </div>
        <div id="close-task-more-options" onclick="closeTaskMoreOptions();">Close X</div>
    </div>





    <script type="text/javascript" src="handleAngular.js"></script>
    <script type="text/javascript" src="htmlGenerator.js"></script>
    <script type="text/javascript" src="handleSingleTaskEvents.js"></script>
    <script type="text/javascript" src="handleOpenCloseEventOfNavBarPanels.js"></script>
    <script type="text/javascript" src="handleNavBarEvents.js"></script>
    <script type="text/javascript" src="utilities.js"></script>
    <script type="text/javascript" src="svgAnimation.js"></script>
    <script type="text/javascript" src="icon_database.js"></script>




</body>

</html>